<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Level Platform</title>
    <link href='https://fonts.googleapis.com/css?family=Barlow Condensed' rel='stylesheet'>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-custom navbar-mainbg">
      <a class="navbar-brand navbar-logo" href="./"><img src="img/logo.png" alt="Italian Trulli" style="width: 200px; height: 80px;"></a>
      <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars text-white"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
              <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
              <li class="nav-item">
                  <a class="nav-link" href="./dataset"><i class="far fa-calendar-alt"></i>DATASETS</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="./submit" style="color: rgb(79, 134, 244);"><i class="far fa-chart-bar"></i>SUBMIT</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="./link"><i class="far fa-copy"></i>LINKS</a>
              </li>
          </ul>
      </div>
  </nav>

    {{ content}}

  </body>
</html>